body {
    font-family: Roboto;
    margin: 0;
}

header, .hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

header {
    padding: 16px 256px;
}

.hero {
    padding: 96px 256px;
    gap: 64px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a, .hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

button, .logo, .hero-main {
    color: #F9FAF8;
    font-weight: 700;
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
}

.hero-secondary {
    margin: 16px 0;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 32px;
}

.hero-left {
    flex: 3;
}

.image {
    background-color: #70747c;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    padding: 48px;
}

.information-container {
    display: flex;
    gap: 72px;
}

.information-tile {
    width: 175px;
}

.subtext {
    font-size: 18px;
    color: #535d6a;
    text-align: center;
}

.information-image {
    height: 175px;
    width: 100%;
    border: 5px solid #3882F6;
    border-radius: 10%;
}